* {
    padding: 0;
    margin: 0;
}

html, body, .main-container {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;

    overflow: hidden;
    --board-background-color: #163b2d;
    --background-color: #f7f7f9;
}

.main-container {
    display: flex;
}

.operation {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    overflow: scroll;
}

.board {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.canvas {
    background-color: var(--board-background-color);
    flex: 1;
}

#canvas {
    width: 100%;
    height: 100%;
}

.notification-window {
    background-color: var(--background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
    padding: 30px;
    border-radius: 5px;
    text-align: justify;
    z-index: 100;
}

.notification-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000D0;
    z-index: 99;
}

.notification-title, .notification-content {
    margin-bottom: 10px;
}

button {
    padding: 10px;
}
